/* --------------------------------

Primary style

-------------------------------- */
*,
*::after,
*::before {
  box-sizing: border-box;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Arial", sans-serif;
  color: white;
  background: rgb(221, 221, 221);
}

body > * {
  flex-shrink: 0;
}

a {
  text-decoration: none;
}

.container {
  background-image: url("../imgs/sky.jpeg");
  background-position: right 50% top 20%;
  background-repeat: no-repeat;
  margin: 0 auto;
  min-height: 900px;
  flex-grow: 1;
  width: 100%;
  top: 50%;
  left: 50%;
  -ms-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
}

.buttons-section {
  margin: 60px auto;
  position: absolute;
  top: 260px;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.response-section {
  margin: 60px auto;
  position: relative;
  width: 40%;
  top: 33%;
}

button {
  background-color: white;
  border: none;
  color: black;
  padding: 14px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px auto;
  border-radius: 24px;
}

div.left {
  text-align: left;
  float: left;
  clear: both;
  max-width: 400px;
  border-radius: 8px;
  padding-left: 4px;
  background-color: #d6d6d6;
  color: black;
  margin: 0.25rem 0;
  margin-left: 0;
  width: fit-content;
  position: relative;
  right: 20%;
}

div.right {
  text-align: left;
  float: right;
  clear: both;
  border-radius: 8px;
  padding-top: 0px;
  padding-left: 4px;
  background-color: #0099ff;
  color: #e0ecff;
  margin: 0.25rem 0;
  margin-right: 0;
  width: fit-content;
  max-width: 400px;
  position: relative;
  left: 20%;
}

div.left p,
div.right p {
  margin: 9px;
}

.header-section {
  position: fixed;
  top: 15%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  width: 100%;
  text-align: center;
  margin: 6em auto;
}

.header {
  font-size: 6rem;
  line-height: 1.2;
  font-weight: 300;
}

@media only screen and (min-width: 850px) {
  .header-section {
    margin: 5em auto;
    margin-left: 0;
  }
  .response-section {
    max-width: 400px;
  }
  div.left {
    margin: 0.25rem 0;
    right: 27.5%;
  }
  div.right {
    margin: 0.25rem 0;
    left: 27.5%;
  }
}

@media only screen and (max-width: 850px) {
  .header-section {
    position: absolute;
    margin: 5em auto;
    margin-left: 0;
    top: 130px;
  }
  .response-section {
    top: 340px;
  }
  div.left {
    margin: 0.25rem 0;
    right: 26%;
  }
  div.right {
    margin: 0.25rem 0;
    left: 26%;
  }
}

@media only screen and (max-width: 580px) {
  div.left {
    margin: 0;
    width: 140%;
    max-width: 360px;
    right: 50%;
  }
  div.right {
    margin: 0;
    width: 140%;
    max-width: 360px;
    left: 50%;
  }
}

@media only screen and (max-width: 400px) {
  div.left {
    margin: 0;
    width: 140%;
    max-width: 340px;
  }
  div.right {
    margin: 0;
    width: 140%;
    max-width: 340px;
  }
}

.words-wrapper {
  display: inline-block;
  position: relative;
}
.words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  text-align: center;
  left: 0;
  top: 0;
}
.words-wrapper b.is-visible {
  position: relative;
}
.no-js .words-wrapper b {
  opacity: 0;
}
.no-js .words-wrapper b.is-visible {
  opacity: 1;
}

.header.rotate .words-wrapper {
  -webkit-perspective: 300px;
  -moz-perspective: 300px;
  perspective: 300px;
}
.header.rotate i,
.header.rotate em {
  display: inline-block;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.header.rotate b {
  opacity: 0;
}
.header.rotate i {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(-20px) rotateX(90deg);
  -moz-transform: translateZ(-20px) rotateX(90deg);
  -ms-transform: translateZ(-20px) rotateX(90deg);
  -o-transform: translateZ(-20px) rotateX(90deg);
  transform: translateZ(-20px) rotateX(90deg);
  opacity: 0;
}
.is-visible .header.rotate i {
  opacity: 1;
}
.header.rotate i.in {
  -webkit-animation: cd-rotate-in 0.4s forwards;
  -moz-animation: cd-rotate-in 0.4s forwards;
  animation: cd-rotate-in 0.4s forwards;
}
.header.rotate i.out {
  -webkit-animation: cd-rotate-out 0.4s forwards;
  -moz-animation: cd-rotate-out 0.4s forwards;
  animation: cd-rotate-out 0.4s forwards;
}
.header.rotate em {
  -webkit-transform: translateZ(20px);
  -moz-transform: translateZ(20px);
  -ms-transform: translateZ(20px);
  -o-transform: translateZ(20px);
  transform: translateZ(20px);
}

.no-csstransitions .header.rotate i {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
  opacity: 0;
}
.no-csstransitions .header.rotate i em {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.no-csstransitions .header.rotate .is-visible i {
  opacity: 1;
}

@-webkit-keyframes cd-rotate-in {
  0% {
    opacity: 0;
    -webkit-transform: translateZ(-20px) rotateX(90deg);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateZ(-20px) rotateX(-10deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(-20px) rotateX(0deg);
  }
}
@-moz-keyframes cd-rotate-in {
  0% {
    opacity: 0;
    -moz-transform: translateZ(-20px) rotateX(90deg);
  }
  60% {
    opacity: 1;
    -moz-transform: translateZ(-20px) rotateX(-10deg);
  }
  100% {
    opacity: 1;
    -moz-transform: translateZ(-20px) rotateX(0deg);
  }
}
@keyframes cd-rotate-in {
  0% {
    opacity: 0;
    -webkit-transform: translateZ(-20px) rotateX(90deg);
    -moz-transform: translateZ(-20px) rotateX(90deg);
    -ms-transform: translateZ(-20px) rotateX(90deg);
    -o-transform: translateZ(-20px) rotateX(90deg);
    transform: translateZ(-20px) rotateX(90deg);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateZ(-20px) rotateX(-10deg);
    -moz-transform: translateZ(-20px) rotateX(-10deg);
    -ms-transform: translateZ(-20px) rotateX(-10deg);
    -o-transform: translateZ(-20px) rotateX(-10deg);
    transform: translateZ(-20px) rotateX(-10deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(-20px) rotateX(0deg);
    -moz-transform: translateZ(-20px) rotateX(0deg);
    -ms-transform: translateZ(-20px) rotateX(0deg);
    -o-transform: translateZ(-20px) rotateX(0deg);
    transform: translateZ(-20px) rotateX(0deg);
  }
}
@-webkit-keyframes cd-rotate-out {
  0% {
    opacity: 1;
    -webkit-transform: translateZ(-20px) rotateX(0);
  }
  60% {
    opacity: 0;
    -webkit-transform: translateZ(-20px) rotateX(-100deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateZ(-20px) rotateX(-90deg);
  }
}
@-moz-keyframes cd-rotate-out {
  0% {
    opacity: 1;
    -moz-transform: translateZ(-20px) rotateX(0);
  }
  60% {
    opacity: 0;
    -moz-transform: translateZ(-20px) rotateX(-100deg);
  }
  100% {
    opacity: 0;
    -moz-transform: translateZ(-20px) rotateX(-90deg);
  }
}
@keyframes cd-rotate-out {
  0% {
    opacity: 1;
    -webkit-transform: translateZ(-20px) rotateX(0);
    -moz-transform: translateZ(-20px) rotateX(0);
    -ms-transform: translateZ(-20px) rotateX(0);
    -o-transform: translateZ(-20px) rotateX(0);
    transform: translateZ(-20px) rotateX(0);
  }
  60% {
    opacity: 0;
    -webkit-transform: translateZ(-20px) rotateX(-100deg);
    -moz-transform: translateZ(-20px) rotateX(-100deg);
    -ms-transform: translateZ(-20px) rotateX(-100deg);
    -o-transform: translateZ(-20px) rotateX(-100deg);
    transform: translateZ(-20px) rotateX(-100deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateZ(-20px) rotateX(-90deg);
    -moz-transform: translateZ(-20px) rotateX(-90deg);
    -ms-transform: translateZ(-20px) rotateX(-90deg);
    -o-transform: translateZ(-20px) rotateX(-90deg);
    transform: translateZ(-20px) rotateX(-90deg);
  }
}
